* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.grid-table {
    width: 1000px;
    height: 1650px;
    /* border: 2px solid red; */
    margin: 0 auto;

    font-size: 0;
}

.col {
    height: 250px;
    /* border: 2px solid black; */
    display: inline-block;
}

.col:nth-child(2) {
    /* border-color: green; */
}

.col:nth-child(3) {
    /* border-color: blue; */
}

.left-col {
    width: 20%;
}

.center-col {
    width: 60%;
}

.right-col {
    width: 20%;  
}

.left-col .first-line {
    background-color: aquamarine;
    /* margin: 5px; */
    height: 150px;
}

.left-col .second-line {
    background-color: royalblue;
    /* margin: 5px; */
    height: 100px;
}

.center-col .first-line {
    background-color: saddlebrown;
    /* margin: 5px; */
    height: 150px;
}

.center-col .second-line {
    /* background-color: olive; */
    /* margin: 5px; */
    height: 100px;
    font-size: 0;
}

.item-1 {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: olive;
    font-size: initial;
}

.item-2 {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    font-size: initial;
}

.right-item {
    display: block;
    width: 100%;
    height: 33.333%;
}

.right-item.item-1 {
    background-color: bisque;
}

.right-item.item-2 {
    background-color: hotpink;
}

.right-item.item-3 {
    background-color: orangered;
}